In [ ]:
lst_names = []
lst_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
lst_cities.append("NYC")
lst_age =[10,20]
lst_age.append(30)
for val in lst_cities:
  print(val)
if "SFO" in lst_cities:
  print("yes")
else:
  print("no")

Bangalore
Chennai
SFO
Beijing
NYC
yes

In [ ]:
lst_pets = ["dog","cat"]
for i, value in enumerate(lst_pets):
  print(f"At index {i}, the value in the list is {value}")

At index 0, the value in the list is dog
At index 1, the value in the list is cat

In [1]:
set_names = ()
set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
set_cities.append("NYC")
set_age = [10, 20]
set_age.append(30)
print(set_cities)
print(set_age)

['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC']
[10, 20, 30]

In [3]:

lst_pet_types = ["cat", "dog", "horse"]
c_pet_types = len(lst_pet_types)
print(f"# pet types: {c_pet_types}")
dict_pets = {"name": "dog", "age": 2}
c_pets = len(dict_pets)
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}],
           "persons": [{"name": "ram", "age": 12}, {"name": "kumaran", "age": 11}]}
c_pets, c_humans = len(dict_pets), len(dict_p_h)
print(f"# pets: {c_pets} ; # humans: {c_humans}")
lst_keys = [*dict_p_h]
lst_values = [*dict_p_h.values()]
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2
# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'dog', 'age': 2}, {'name': 'dog', 'age': 2}], [{'name': 'ram', 'age': 12}, {'name': 'kumaran', 'age': 11}]]

In [9]:

txt = " 	Moscow 	"
str_clean = txt.strip()
print(f"From weather report, {str_clean} is too cold most of the times")

From weather report, Moscow is too cold most of the times

In [10]:
lst_items = ['rambo','dog','chennai']
str = ','.join(lst_items)
print(str)

rambo,dog,chennai

In [14]:
from tabulate import tabulate
# custom function for pretty print
def pretty_print(title, df, n):
   print(f"\n{title}:")
   print(tabulate(df.head(n), headers="keys", tablefmt="psql"))

In [ ]:
lst_age = df["age"].unique()
# also works
lst_age = df.age.unique()

In [ ]:
df["age"].value_counts()
# also
df.groupby("age").CLIENTCODE.nunique()

In [20]:
data = {'state':["CA","CA","TX","NC", "SC"],'deaths':[6,11,4,5,9]}
df = pd.DataFrame(data)
# how many unique death counts are under each of the state
df2 = df.groupby('state')['deaths']
        .nunique()
        .to_frame('deaths')
        .reset_index()
df2.head(10)

IndentationError: unexpected indent (<ipython-input-20-6c1dad632b47>, line 5)

In [21]:
# input file
file_name = 'openpowerlifting-2021-12-10-b420db66.csv'
# read csv file
df_in_power = pd.read_csv(file_name)
# men only
df_state_male = df_in_power
                .loc[df_in_power['Sex'] == "M"]\
                .groupby(['State'])\
                .size()\
                .to_frame('count')\
                .reset_index()
# sort by count
df_sorted = df_state_male\
                .sort_values(by=['count'], ascending=False)

IndentationError: unexpected indent (<ipython-input-21-7d5bc7b0c536>, line 7)

In [22]:
 write in current folder
df.to_csv ('./out.csv', index = None, header=True)
# write in downloads folder
df.to_csv ('~/Downloads/out.csv', index = None, header=True)

SyntaxError: invalid syntax (<ipython-input-22-45fb573e7121>, line 1)

In [ ]:
# create data frame
df = pd.DataFrame({"date": ["2018-09-24"], "ret":[0.00013123989025119056]})
# write to csv
df.to_csv("out.csv", sep=',', escapechar='\\', quoting=csv.QUOTE_ALL, index=None)
# "date" "ret"
# "2018-09-24" "0.00013123989025119056"

In [24]:
import csv
df.to_csv('out.csv',sep=' ', quoting=csv.QUOTE_NONE)

NameError: name 'df' is not defined

In [23]:
num_person = 10
print(f"Type of num_person: {type(num_person)}")

Type of num_person: <class 'int'>

In [25]:
df_new = df[["col_1", "col_2"]]

NameError: name 'df' is not defined

In [ ]:
max_age = df["age"].max()

In [26]:
df.groupby("col_1").size().to_frame("count").reset_index()

NameError: name 'df' is not defined

In [ ]:
df.groupby("age_range").mean()
df.groupby("department").sum()
df.groupby("class").size() # number of students in each class

In [ ]:
df.groupby(["col_1", "col_2"]).mean()
df.groupby(["col_1", "col_2"]).sum()

In [ ]:
df.groupby(["col_1", "col_2"])["col_3"].mean()

In [ ]:
df_new = df.groupby("state")["num_vacc"].mean().to_frame("count").reset_index()

In [27]:
df = df.groupby('source') \
       .agg({'text':'size', 'sent':'mean'}) \
       .rename(columns={'text':'count','sent':'mean_sent'}) \
       .reset_index()
print (df)

NameError: name 'df' is not defined

In [ ]:
df.groupby('source')['sent'].agg(count='size', mean_sent='mean').reset_index()
# this may also work
df[['source','sent']].groupby('source').agg(['count','mean']).reset_index()

In [ ]:
df_agg = df.groupby(["id1", "id2", "id3"])\
        	.agg({k: ['min', 'max'] for k in ['col']})
df_agg.columns = df_agg.columns.map('_'.join)
df_agg = df_agg.reset_index()

In [28]:
df.groupby('source')['sent1', 'sent2'].agg({'count': 'size', 'means': 'mean'}).reset_index()

NameError: name 'df' is not defined

In [ ]:
df_agg = df.groupby(["id1", "id2", "id3"])\
        	.agg({k: ['min', 'max'] for k in ['col']})
df_agg.columns = df_agg.columns.map('_'.join)
df_agg = df_agg.reset_index()

In [ ]:
df.groupby('source')['sent1', 'sent2'].agg({'count': 'size', 'means': 'mean'}).reset_index()

In [ ]:
# drop all rows with "na" in any of the column
df.dropna()
# keep the data frame with valid entries (no "nan") in the same variable "df"
df.dropna(inplace=True)

In [ ]:
df = df.drop_duplicates(['col_name1','col_name2','col_name3'], keep='last')
for index, row in df.iterrows():
   curr_authorname = row['author_name']
   curr_email = row['email']

In [ ]:
dict_stats_count = dict(zip(df.states, df.count))

In [ ]:
lst_pets = [['dog', 1], ['cat', 2], ['fish', 3]]
df = pd.DataFrame(lst_pets, columns=['animal', 'amount'])

In [ ]:
df.columns = ["new_col1", "new_col2", "new_col3"]

In [ ]:
old_names = ['$a', '$b', '$c', '$d', '$e']
new_names = ['a', 'b', 'c', 'd', 'e']
df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [ ]:
# custom function
func to_minutes(row):
   return row["num_hours"] * 60
# create new column
df['newcolumn'] = df.apply(to_minutes, axis=1)

In [ ]:
if age == 10 and name = "dog": # conditional "and"
	print("10")
elif age == 1 or age = 5: # conditional "or"
	print("either 1 or 5")
else:
      print("else")

In [ ]:
# only those who have exact age of 18 or 20
df_18_20 = df[df["age"].isin([18, 20])]
# only those rows that have pet_type either "dog" or "cat"
df_dog_cat = df[df["pet_type"].isin(["dog", "cat"])]

In [ ]:
str_message = 'Life will be truly wonderful on a wonderful planet.'
# returns index 19 (find the first occurrence starting from left side)
print(str_message.find('wonderful'))
# returns index 34 (find the first occurrence starting from right side)
print(str_message.rfind('wonderful'))
# returns index 19
print(str_message.find('wonder'))
# find index of "wonder" after index 20; returns index 34
print(str_message.find('wonder', 20))

In [ ]:
import random
# generates a random number between 0 and 1
random_num = random.random()
print(random_num)

In [ ]:
from random import randrange
# approach 1: randomly generate a number between 0 and 10
print(randrange(10))
print(randrange(0, 10))
# approach 2:  randomly generate a number between 0 and 10
import random
# randomly generate a number between 0 and 10 (includes 10)
print(random.randint(0, 10))

In [ ]:
curr_line = f"{name},{email},{affiliation}," \
        	f"{coauthors_names},{research}"

In [ ]:
df[(df['col1'] >= 1) & (df['col1'] <=1 )]

In [ ]:
# pick values from a specific columns
# iloc returns index
# all rows, columns 0 to 9 (exclude 9); returns numpy array
arr_num_x = df.iloc[:,0:9].values
# all rows, column 0; returns numpy array
arr_num_y = df.iloc[:,0].values

In [ ]:
import traceback
# path of file
path_in_pet = "dummy.json"
try:
   f = open(path_in_pet, 'r')
   except:
   traceback.print_exc()

In [ ]:
import os

# directory name that may exist in current directory
directory = "csv_data"
# file name that may exist in current directory
file_name = "data.txt"
# returns True if dir exists
print("is dir? " + str(os.path.isdir(directory)))
# returns True if file_name exists
print("is file? " + str(os.path.isfile(file_name)))
# returns True (if dir is either file name or directory name that exists)
print("does it exist? " + str(os.path.exists(directory)))
if os.path.isfile(file_name):
   # returns the size of a file without opening it.
   print("file size: " + str(os.path.getsize(file_name)))
else:
   print("not a file to calculate size")

print("GET THREE DIFFERENT TYPE OF PATHS")
# declare file path
path_file = "/Users/lenin/Downloads/data.txt"
# return basename of path (outputs "data.txt")
print(os.path.basename(path_file))
# return directory name of a path
# output -> "/Users/lenin/Downloads"
print(os.path.dirname(path_file))
# return absolute path of a file
# output -> "/Users/lenin/Downloads/data.txt"
print(os.path.abspath(path_file))

In [ ]:
import os

# list all files in a directory
lst_files = os.listdir('/Users/lenin/Downloads/')
print(lst_files)

In [ ]:
import subprocess
subprocess.run(["ls", "-l"])

In [ ]:
import os
# run terminal command "ls -ltr"
str_list_files = os.popen("ls -ltr").read() # This will run the command and return any output
print(str_list_files)
# prints "str"
print(type(str_list_files))

In [ ]:

{
"name":"John",
"age":30,
"cars":["Ford", "BMW", "Fiat"]
}

In [ ]:
import json
# dictionary data to convert as a JSON object
dict_pets = {1: 'dog', 2: 'cat',
            3: 'horse', 4: 'elephant',
            5: 'tiger'}
# prints "dict"
print(type(dict_pets))
# save as JSON object
js_data = json.dumps(dict_pets)
# prints "dict"
print(type(dict_pets))
# prints with "" for key-value (wrong json)
print(dict_pets)
# prints with "" for key-value (correct json)
print(js_data)

In [ ]:
# Dict to JSON example two
import json
# variable "dict_data" declared on top of this cheat sheet
# prints "dict"
with open('data.json', 'w') as outfile:
   # write "dict_data" object content to output file as JSON
   json.dump(dict_data, outfile)

In [ ]:
import os
import json
# json file name with/without path
path_in_pet = "data.json"
# check if file exists
if os.path.exists(path_in_pet):
   # open in read mode
   with open(path_in_pet, 'r') as f:
       # read data
       dict_data = json.load(f)
       # prints dict
       print(type(dict_data))
       # print content
       print(dict_data)

In [ ]:
df.astype({'col1': 'int32'}).dtypes

In [ ]:
# int to string
var age = 20
print("age is " + str(age))
# int to float
salary = 10
f_salary = float(salary)
# float to int
salary = 10.11
# convert to integer
i_salary = int(salary)

In [ ]:
from dateutil import parser
from datetime import datetime
# approach 1
dt = parser.parse("Jun 1 2021  1:11PM")
print(dt)
# approach 2
datetime_object = datetime.strptime('Jun 1 2021  1:11PM', '%b %d %Y %I:%M%p')
print(datetime_object)

In [ ]:
# approach 1
amount = 20.123456789
f_amount = float("{:.2f}".format(amount))
print(f_amount)
# approach 2
amount = 20.123456789
f_amount =  round(amount, 2)
print(f_amount)

In [ ]:
from datetime import datetime
# right now time
_now = datetime.now()
print(_now)
# format date time
_parsed = datetime.strptime(str(_now), "%Y-%m-%d %H:%M:%S.%f")
print(_now)  # prints same date time as above print
dt = datetime.strptime("21/11/06 16:30", "%d/%m/%y %H:%M")
print(dt)  # 2006-11-21 16:30:00
# get only the value of the year. assigns _year = 2006
_year = dt.year
# get only the value of the month. assigns _month = 11
_month = dt.month

In [ ]:
def to_lowercase(in_str):
   return str(in_str).lower()
# text to be converted
text = "How are you?"
# convert string to lowercase
text = to_lowercase(text)
print(text)

In [ ]:
text = "This is first line \n This is second line"
print(text)
# replace new line with blank space
text_clean = text.replace("\n", "")
print(text_clean)

In [ ]:
import re
in_str = "Hi, Where are you from?"
str_clean = re.sub(r'\W+', ' ', in_str)
# prints -> Hi Where are you from
print(str_clean)

In [ ]:
# dictionary that helps to normalise
dict_norm = {"puppyhood": "dog",
         	"puppyish": "dog",
         	"puppylike": "dog"
        	}
# dictionary that needs transformation in its value
dict_species = {"caesar": "puppyhood", "ryan": "dog", "leela": "cat"}
# create new dictionary to hold the normalised output
dict_species_norm = {}
# iterate items in dict
for key, value in dict_species.items():
	# if value exists in key of dict_norm
	if value in dict_norm.keys():
    	   dict_species_norm[key] = dict_norm[value]
	else:
    	   dict_species_norm[key] = value
# prints -> {"caesar": "dog", "ryan": "dog", "leela": "cat"}
print(dict_species_norm)

In [ ]:
df["age_normalized"] = df["age"] / df["age"].max()

In [ ]:
import pandas as pd
from tabulate import tabulate
# first df
df_1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                   'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']
                    })
pretty_print("df_1:", df_1, 10)
# second df
df_2 = pd.DataFrame({
                   'id' : ['A01', 'A06', 'A02', 'A07'],
                   'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                   'Age': ['12', '13', '14', '12']})
pretty_print("df_2:", df_2, 10)
# outer join => outputs all rows from both dataframes
df_new = pd.merge(df_1, df_2, on='id', how='outer')
pretty_print("merged outer:", df_new, 10)
# inner join (equi join) => outputs common intersect
df_new = pd.merge(df_1, df_2, on='id', how='inner')
pretty_print("merged inner:", df_new, 10)

# different column name
df_new = pd.merge(df_1, df_2, left_on='', right_on='', how='inner')

In [ ]:
import pandas as pd
from tabulate import tabulate
# first df
df_1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                   'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']
                    })
pretty_print("df_1:", df_1, 10)
# second df
df_2 = pd.DataFrame({
                   'id' : ['A01', 'A06', 'A02', 'A07'],
                   'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                   'Age': ['12', '13', '14', '12']})
pretty_print("df_2:", df_2, 10)
# LEFT JOIN => takes all the values from df1, if it exists on the df2 puts it values, otherwise nan
df_new = df_1.merge(df_2, left_on=['id'], right_on = ['id'], how='left')
pretty_print("left join:", df_new, 10)
# find rows in df2 which are not in df1
df_na = df_new[df_new["City"].isna()]
pretty_print("rows in df2 which are not in df1:", df_na, 10)

In [ ]:
import glob

os.chdir( '/path/to/main/dir' )
# find list of files with .csv extension
result = glob.glob( '*/**.csv' )
print( result )

In [ ]:
os.rename("old_name.csv", "new_name.csv")

In [ ]:
from google.colab import drive
# NOTE: this will pop up asking for google login permission
drive.mount('/content/drive')
# linux command to list the files under linux running
Colab Jupyter notebook (prints dir/files/links in your Drive)
!ls -ltr /content/drive/MyDrive/

In [ ]:
# get a list of tables from the URL
lst_tables = pd.read_html("https://scholar.google.com/citations?user=6JeebN0AAAAJ&hl=en")
# iterate and print each table
for i, table in enumerate(tables):
pretty_print(f"Table {str(i)}", table, 20)

In [ ]:
df_out = df.fillna(method = "ffill")

In [ ]:
# men only filter. size() gives number of rows in the data frame
df_state_male = df.loc[df['Sex'] == "M"]\
                 .groupby(['State'])\
                 .size()\
                 .to_frame('count')\
                 .reset_index()
# sort by count
df_sorted = df_state_male\
                 .sort_values(by=['count'], ascending=False)
# gives rank as 1, 2, 3, ...
df_sorted['rank'] = df_sorted['count'].rank(ascending=False)
# gives percentile rank as 1, 0.9923, 0.984615, ...
df_sorted['pct_rank'] = df_sorted['count'].rank(pct=True)
df_sorted.head(10)

In [ ]:
df = pd.read_csv("air_quality_no2.csv", index_col=0, parse_dates=True)

In [ ]:
from dateutil import parser
from datetime import datetime
import timeit

def fn_1():
   dt = parser.parse("Jun 1 2005  1:33PM")


def fn_2():
   datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')

print(timeit.timeit(stmt=fn_1, number=10**5)) # slow
print(timeit.timeit(stmt=fn_2, number=10**5)) # faster

In [ ]:
from alive_progress import alive_bar
import time
# for loop runs for set of below four values
for x in 1000, 1500, 700, 0:
  # scope the alive bar for the wrapped for loop inside it
  with alive_bar(x) as bar:
      for i in range(1000):
          # sleep for .005 seconds
          time.sleep(.005)
          # print the bar
          bar()